<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629303941117-973eoq4dkdifocisbd8d8812oubt13ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629303941117-973eoq4dkdifocisbd8d8812oubt13ke</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Ureq1zhRO-r15NY0TFZu88WxRb1igJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>629303941117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zzzz.VKBetta</string>
	<key>PROJECT_ID</key>
	<string>vkbase-75638</string>
	<key>STORAGE_BUCKET</key>
	<string>vkbase-75638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629303941117:ios:244aa98348e14c7e07eb94</string>
</dict>
</plist>